*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-display: swap;
    font-family: "General Sans";
    font-style: normal;
    font-weight: 500;
    src:url(assets/GeneralSans_Complete/Fonts/OTF/GeneralSans-Medium.otf),
        url(assets/GeneralSans_Complete/Fonts/OTF/GeneralSans-Regular.otf);
}


html, body{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    /* scroll-behavior: smooth; */
    background-color: black;
    font-family: 'GeneralSans', sans-serif;
}

*::selection {
    background-color: #fff;
    color: black;
}

#loader{
    height: 100vh;
    width: 100%;
    background-color: rgba(218, 218, 218, 0.739);
    position: fixed;
    z-index: 99;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    cursor: none;
}

#loader h1{
    font-size: 1.1vw;
    font-weight: bold;
}

#percentage{
    font-size: 1.1vw;
    font-weight: bold;
}

.custom-loader {
    width:120px;
    height:12px;
    border-radius: 20px;
    border: 0.5px solid;
    position: relative;
  }
  .custom-loader::before {
    content:"";
    position: absolute;
    margin:2px;
    inset:0 100% 0 0;
    border-radius: inherit;
    background:#000;
    animation:p6 3s infinite;
  }
  @keyframes p6 {
      100% {inset:0}
  }

#minicircle {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 999;
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    overflow: hidden;
}

.bounding {
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem {
    transform: translateY(100%);
}

a {
    position: relative;
    text-decoration: none;
  }
  
/* Modified to apply to all anchor tags */
a::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0;
    height: 2px;
    background-color: #fff;
    bottom: -1px;
    left: 0;
    transition: width 0.3s ease-out; 
}

/* Modified to apply hover effect to all anchor tags */
a:hover::before {
    width: 100%; 
}

  a i.ri-arrow-right-up-fill::before {
    content: "\279A";
    transition: 1s smooth;
}

a:hover i.ri-arrow-right-up-fill::before {
    content: "\279E"; 
    transition: 1s smooth;
}

#main{
    width: 100vh;
    background-color: black;
}

#page1{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: #fff;
    position: relative;
}

#nav{ 
    width: 100vw;
    padding: 3vw 3vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

#nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3vw;
    color: #fff;
}

.dropmenu {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    max-width: 160px;
    color: #000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    display: block;
    padding-top: 20px;
    padding-right: 15px;
    text-decoration: none;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#heading{
    margin-top: 5vw;
}

#heading h1{
    margin-left: 3vw;
    font-size: 9vw;
    line-height: 1;
    opacity: .6;
    font-weight: 900;
    text-transform: uppercase;
}

#heading #secondh1{
    margin-left: 15vw; 
}

.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.blocktext h5{
    text-align: right;
    font-size: 1.1vw;
    text-transform: uppercase;
}

#sideheading{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 10vw;
    padding-right: 3vw;
}

#sideheading h5{
    font-size: 1.1vw;
    text-align: right;
    text-transform: uppercase;
    margin-top: .5vw;
    line-height: 2;
}

#page1footer{
    width: 100vw;
    position: absolute;
    bottom:2vw;
    padding: 0 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page1footer a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

#page1footer #iconset{
    display: flex;
    gap: .5vw;
}

#page1footer .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: #888;
    color: black;
}

#page2{
    width: 100vw;
    /* height: 100vh; */
    background-color: black;
    color: #fff;
}

#projects h1{
    color: #fff;
    font-size: 4.5vw;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

#elementsection{
    width: 90vw;
    color: #fff;
}

#elementsection a{
    text-decoration: none;
    color: #fff;
}

.element{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    padding-top: 3vw;
    padding-bottom: 3vw;
    position: relative;
}

.element h1{
    font-size: 6.5vw;
    line-height: 1;
    opacity: .6;
    font-weight: 600;
    text-transform: uppercase;
}

.element h5{
    font-size: 1vw;
    text-transform: uppercase;
}

.element img{
    height: 35vh;
    width: 30vw;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 500;
    opacity: 0;
}

#more{
    display: flex;
    justify-content: flex-end;
    padding-top: 2vw;
    padding-right: 3vw;
}

#more a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1vw;
}

/* #see-more-button{
    text-decoration: none;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    cursor: pointer;
    border: 1.5px solid #fff;
    border-radius: 100px;
    padding: 0.5vw 1.5vw;
}

#see-more-button:hover{
    color: black;
    background-color: #fff;
    border: 1.5px solid black;  
} */

#page3{
    width: 100vw;
    background-color: black;
    color: white;
}

#aboutme{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8vw;
    padding-left: 35vw;
    padding-right: 15vw;
    background-color: black;
    color: #fff;
}

#imageabout img{
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 3vw;
    filter: grayscale(100%);
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

#textabout p{
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 2vw;
    margin-bottom: 2vw;
}

#textabout h5{
    font-size: 0.9vw;
    line-height: 2vw;
    opacity: .6;
    text-transform: uppercase;
}

/* #textabout a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1vw;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 0.5vw 1.5vw;
} */

#contact-me-button{
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    cursor: pointer;
    border: 1.5px solid #fff;
    border-radius: 100px;
    padding: 0.5vw 1.5vw;
}

#contact-me-button:hover{
    color: black;
    background-color: #fff;
    border: 1.5px solid black;  
}

#skills{
    font-size: 1.5vw;
    font-weight: 400;
    margin-left: 3vw;
}

#skills h5{
    font-size: 0.9vw;
    line-height: 2vw;
    opacity: .6;
    text-transform: uppercase;
}

.role {
    opacity: 0.6;
}

#scrollup{
    text-decoration: none;
    display: flex;
    float: right;
    padding: 0 3vw;
    gap: 0.5vw;
    padding-top: 8.5vw;
}

.circle2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: #888;
    color: black;
}

#page3footer{
    width: 100vw;
    bottom:2vw;
    padding: 0 3vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footerleft{
    display: flex;
    flex-direction: row;
    gap: 3vw;
    text-transform: uppercase;
}

#footerleft h3{
    font-size: 1.1vw;
}

#footerright{
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.footer-anchor{
    text-decoration: none;
    color: #fff;
    font-size: 1.1vw;
    text-transform: uppercase;
}

.footer-anchor{
    position: relative;
    text-decoration: none;
  }
  
  .footer-anchor::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 0;
    height: 2px;
    background-color: #fff;
    bottom: -1px;
    left: 0;
    transition: width 0.3s ease; 
  }
  
  .footer-anchor:hover::before {
    width: 100%; 
  }

  .footer-anchor i.ri-arrow-right-up-fill::before {
    content: "\279A";
    transition: 1s smooth;
}

.footer-anchor:hover i.ri-arrow-right-up-fill::before {
    content: "\279E"; 
    transition: 1s smooth;
}

@media (max-width: 480px) {
    #main{
        overflow-x: hidden;
        width: auto;
        min-height: 100vh;
        overflow-y: auto;
    }
    /* #body{
        width: 100%;
        height: 100%;
    }
    #page1{
        width: 100%;
        height: 100vh;
    }
    #page2{
        width: 100%;
        height: 100vh;
    }
    #page3{
        width: 100%;
        height: 100vh;
    } */
    /* .dropdown{
        display: none;
    } */
    #nav{
        width: 100%;
        font-size: 50px;
        display: flex;
        justify-content: space-between;
    }
    #heading{
        position: absolute;
        top: 30vh;
        left: 10vh;
    }
    #sideheading{
        position: absolute;
        top: 45vh;
        right: 10vh;
    }
    #aboutme{
        display: flex;
        flex-direction: column;
    }
  }